<header>
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <span>Yellow House Studio</span>
  </mat-toolbar>
</header>

<section>
<h1>Yellow House Studio erbjuder</h1>
</section>
<section>
  <h1>Andra projekt</h1>
  <p>Github: <a href="https://github.com/yellow-house-studio">https://github.com/yellow-house-studio</a></p>
</section>
<section>
  <h1>Kontakter</h1>
  <p>Det går att få kontakt på följande sätt: </p>
  <p>E-post: <a href="mailto:hej@yellowhousestudio.se">hej@yellowhousestudio.se</a></p>
  <p>Telefon: 073 - 075 48 19</p>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/johanna-hulten">https://www.linkedin.com/in/johanna-hulten</a></p>
</section>
